{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Workbank for Students - Freelancing work for Students.</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/Student Favicon.jpeg' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <section id="topbar" class="topbar d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:contact@example.com">dhyaneshsupare@gmail.com</a></i>
        <i class="bi bi-phone d-flex align-items-center ms-4"><span>+91 9373612896</span></i>
      </div>
      <div class="social-links d-none d-md-flex align-items-center">
        <a href="https://www.facebook.com/share/rfYRQDoJ8AB4bEQm/?mibextid=qi2Omg" target = "_blank" class = "facebook"><i class="bi bi-facebook"></i></a>
        <a href="https://www.instagram.com/danny_sups?igsh=MXcyZzN3ZmZmYmoxZQ==" target = "_blank" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="https://www.linkedin.com/in/dhyanesh-supare-3b8a6428b?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target = "_blank" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
        <a href="#" target = "_blank" class="twitter"><i class="bi bi-twitter"></i></a>
      </div>
    </div>
  </section><!-- End Top Bar -->

  <header id="header" class="header d-flex align-items-center">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="{% url 'home' %}" class="logo d-flex align-items-center">
        <h1>Workbank for Students<span>.</span></h1>
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="#hero">Home</a></li>
          <li><a href="#services">Our Services</a></li>
          <li><a href="#services ">About Projects</a></li>
          <!-- <li><a href="#portfolio">Portfolio</a></li> -->
          <li><a href="#team">Team</a></li>
          <li><a href="{% url 'blog' %}">Blog</a></li>
          <li><a href="{% url 'home' %}#contact">Contact Us</a></li>
          <li><a href="{% url 'contact' %}">Form</a></li>
        </ul>
      </nav><!-- .navbar -->

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header><!-- End Header -->
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero">
    <div class="container position-relative">
      <div class="row gy-5" data-aos="fade-in">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
          <h2>Welcome to <span>Workbank</span></h2>
          <p>Creating Future Nurturing Talent.</p>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="#about" class="btn-get-started">Get Started</a>
            <!-- <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a> -->
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2">
          <img src="{% static 'assets/img/hero-img.svg' %}" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="100">
        </div>
      </div>
    </div>

    <div class="icon-boxes position-relative">
      <div class="container position-relative">
        <div class="row gy-4 mt-5">

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-easel"></i></div>
              <h4 class="title"><a href="" class="stretched-link">Professional's Teaching</a></h4>
            </div>
          </div><!--End Icon Box -->

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-gem"></i></div>
              <h4 class="title"><a href="" class="stretched-link">Well Professional behaviour with Interns</a></h4>
            </div>
          </div><!--End Icon Box -->

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-currency-rupee"></i></div>
              <h4 class="title"><a href="" class="stretched-link">Value to Money</a></h4>
            </div>
          </div><!--End Icon Box -->

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-command"></i></div>
              <h4 class="title"><a href="" class="stretched-link">Easy to understand skills and way to learn</a></h4>
            </div>
          </div><!--End Icon Box -->

        </div>
      </div>
    </div>

    </div>
  </section>
  <!-- End Hero Section -->

  <main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="services-cards" class="services-cards">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="100">
            <h3>Free Lancing queries</h3>
            <p>Want a detailed conversation with us on your free lancing queries; we are here for you!</p>
            <ul class="list-unstyled">
              <li><i class="bi bi-check2" style = "color: rgb(13, 110, 253, 0.25)"></i> <span>How to start?</span></li>
              <li><i class="bi bi-check2" style = "color: rgb(13, 110, 253, 0.25)"></i> <span>What to learn?</span></li>
              <li><i class="bi bi-check2" style = "color: rgb(13, 110, 253, 0.25)"></i> <span>How to master it?</span></li>
            </ul>
          </div><!-- End feature item-->

          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="200">
            <h3>Frontend Web Developement queries</h3>
            <p>Want a detailed conversation with us regarding your doubts on Frontend Web Developement; we are here for you!</p>

            <ul class="list-unstyled">
              <li><i class="bi bi-check2" style = "color: rgb(13, 110, 253, 0.25)"></i> <span>What to learn?</span></li>
              <li><i class="bi bi-check2" style = "color: rgb(13, 110, 253, 0.25)"></i> <span>How to learn?</span></li>
              <li><i class="bi bi-check2" style = "color: rgb(13, 110, 253, 0.25)"></i> <span>How to master it?</span></li>
            </ul>
          </div><!-- End feature item-->

          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="300">
            <h3>Backend Web Development queries</h3>
            <p>Want a detailed conversation with us on regarding your doubts on backend web developement; we are here for you!</p>
            <ul class="list-unstyled">
              <li><i class="bi bi-check2" style = "color: rgb(13, 110, 253, 0.25)"></i> <span>What to learn?</span></li>
              <li><i class="bi bi-check2" style = "color: rgb(13, 110, 253, 0.25)"></i> <span>How to learn?</span></li>
              <li><i class="bi bi-check2" style = "color: rgb(13, 110, 253, 0.25)"></i> <span>How to master it?</span></li>
            </ul>
          </div><!-- End feature item-->

          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="400">
            <h3>Domain Name Registeration and web hosting queries</h3>
            <p>Want a detailed conversation with us on regarding your doubts on domain name registration; we are here for you!</p>
            <ul class="list-unstyled">
              <li><i class="bi bi-check2" style = "color: rgb(13, 110, 253, 0.25)"></i> <span>What are requirements for registering domain name and having hosting for it?</span></li>
              <li><i class="bi bi-check2" style = "color: rgb(13, 110, 253, 0.25)"></i> <span>How to register domain name and purchase hosting?</span></li>
              <li><i class="bi bi-check2" style = "color: rgb(13, 110, 253, 0.25)"></i> <span>Why it's important to have a domain name and hosting for it?</span></li>
            </ul>
          </div><!-- End feature item-->

        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Our Services Section ======= -->
    <section id="services" class="services sections-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Our Services</h2>
          <p>Here are some of our Services and Features we provide you while serving you as our client.</p>
        </div>

        <div class="row gy-4" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-4 col-md-6">
            <div class="service-item  position-relative">
              <div class="icon">
                <i class="bi bi-laptop"></i>
              </div>
              <h3>Free Lancing</h3>
              <p>We will prepare you for your first future official earning by using your own skill through our Free Lancing Courses and Workshops and make you make you able to be financially independent.</p>
              <a href="#" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-front"></i>
              </div>
              <h3>Frontend Web Developement</h3>
              <p>You are just a inch far from starting your Web Developement journey under our guidance.Through our Frontend Web Developement internship program you can be Web Developer and can add one more milestone in your acheivement list.</p>
              <a href="#" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-back"></i>
              </div>
              <h3>Backend Web Developement</h3>
              <p>After completing your Frontend Web Developement journey you will definately want to learn the backend Web Development and want to become a complete Web Developer.Through this program you can master your backend Web Developement skills.</p>
              <a href="#" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-bookmark-plus"></i>
              </div>
              <h3>Domain Name Registration</h3>
              <p>After completing your Web Developement you have an urge to start your own Company or Bussiness; and we are here for you to help you by giving you a little spark to your dream by helping you in registering your Company's or Bussiness's Domain Name which help your official Website visible worldwide.</p>
              <a href="#" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-browser-chrome"></i>
              </div>
              <h3>Web Hosting</h3>
              <p>To make your website visible on every digital device in the world you have to host your website and domain name on the worldwide server and we will solve your this problem also by giving you hosting server to host your website and domain name.</p>
              <a href="#" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-person-exclamation"></i>
              </div>
              <h3>Consultancy</h3>
              <p>If you are doubting on your queries regarding any of points mentioned above you are free to ask us about it or can call,email or write us on our given number,email id or to our address surely we will solve it for you.</p>
              <a href="#" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>
    </section><!-- End Our Services Section -->

        <!-- ======= Our Team Section ======= -->
    <section id="team" class="team">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Our Team</h2>
          <p>For building passion and mastering all the above mention skills with us, we have a very intelligent and smartworking team of professionals with us.</p>
        </div>

        <div class="row gy-4">

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <img src="{% static 'assets/img/team/team-1.jpg' %}" class="img-fluid" alt="">
              <h4>Walter White</h4>
              <span>Full Stack Web Developer</span>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <img src="{% static 'assets/img/team/team-2.jpg' %}" class="img-fluid" alt="">
              <h4>Sarah Jhinson</h4>
              <span>Front-end Web Developement Team Head</span>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <img src="{% static 'assets/img/team/team-3.jpg' %}" class="img-fluid" alt="">
              <h4>William Anderson</h4>
              <span>Back-end Web Developement Team Head</span>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
            <div class="member">
              <img src="{% static 'assets/img/team/team-4.jpg' %}" class="img-fluid" alt="">
              <h4>Amanda Jepson</h4>
              <span>HR-Department Head</span>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div><!-- End Team Member -->

        </div>

      </div>
    </section><!-- End Our Team Section -->

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing sections-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Premium Plans</h2>
          <p>These are some paid plans to  get access to our services.</p>
        </div>

        <div class="row g-4 py-lg-5" data-aos="zoom-out" data-aos-delay="100">

          <div class="col-lg-4">
            <div class="pricing-item">
              <h3>Free Plan</h3>
              <div class="icon">
                <i class="bi bi-box"></i>
              </div>
              <h4><sup>₹</sup>99<span> / month</span></h4>
              <ul>
                <li><i class="bi bi-check"></i> Access to all tutorials.(Only for limited  time) </li>
                <li><i class="bi bi-check"></i> Limited accesss to individual courses.(Only for limited time)</li>
                <li><i class="bi bi-check"></i> Access to Daily Practice Questions.(Only for limited time)</li>
                <li class="na"><i class="bi bi-x"></i> <span>Access to hand-written notes.</span></li>
                <li class="na"><i class="bi bi-x"></i> <span>Daily doubt solving and guidance sessions.</span></li>
              </ul>
              <div class="text-center"><a href="#" class="buy-btn">Buy Now</a></div>
            </div>
          </div><!-- End Pricing Item -->

          <div class="col-lg-4">
            <div class="pricing-item featured">
              <h3>Golden Plan</h3>
              <div class="icon">
                <i class="bi bi-airplane"></i>
              </div>

              <h4><sup>₹</sup>299<span> / month</span></h4>
              <ul>
                <li><i class="bi bi-check"></i> Access to all tutorials.</li>
                <li><i class="bi bi-check"></i> Limited access to individual courses.</li>
                <li><i class="bi bi-check"></i> Access to Daily Question Solving. </li>
                <li><i class="bi bi-check"></i> Access to hand-written notes.</li>
                <li><i class="bi bi-check"></i> Daily doubt solving and guidance sessions.</li>
              </ul>
              <div class="text-center"><a href="#" class="buy-btn">Buy Now</a></div>
            </div>
          </div><!-- End Pricing Item -->

          <div class="col-lg-4">
            <div class="pricing-item">
              <h3>Developer Plan</h3>
              <div class="icon">
                <i class="bi bi-send"></i>
              </div>
              <h4><sup>₹</sup>499<span> / month</span></h4>
              <ul>
                <li><i class="bi bi-check"></i> Access to all tutorials.</li>
                <li><i class="bi bi-check"></i> Access over varity of courses.</li>
                <li><i class="bi bi-check"></i> Access to all practice sets of tutorials and Daily Question Solving.</li>
                <li><i class="bi bi-check"></i> Access to hand-written notes.</li>
                <li><i class="bi bi-check"></i> One to One guidance and doubt solving from our professionals.</li>
              </ul>
              <div class="text-center"><a href="#" class="buy-btn">Buy Now</a></div>
            </div>
          </div><!-- End Pricing Item -->

        </div>

      </div>
    </section><!-- End Pricing Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">

          <div class="col-lg-4">
            <div class="content px-xl-5">
              <h3>Frequently Asked <strong>Questions</strong></h3>
              <p>
                Here are some certainlly asked questions about our firm which might will be helpful to you know more about us.We hope these answers will help answer any questions you.
              </p>
            </div>
          </div>

          <div class="col-lg-8">

            <div class="accordion accordion-flush" id="faqlist" data-aos="fade-up" data-aos-delay="100">

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                    <span class="num">1.</span>
                    Is this courses and tutorials really helpful in building the domain knowledge?
                  </button>
                </h3>
                <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    <p>When I join one of the course from Workbank I wass also bit concerned about this doubt; but when I started building interest in the course domain my doubts are gone.It actually helps you to master the domain from courses.</p>

                    <p>-Hemant Joshi
                    (Ex Workbank intern)</p>
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2">
                    <span class="num">2.</span>
                    Is this a value to money Courses and Tutorials?
                  </button>
                </h3>
                <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    <p>
                      Yes, we believe so. The cost of these resources is very reasonable when compared with other platforms.Also we provide a variety of courses to pursue on.
                    </p>

                    <p>
                      I find this courses value to money because when I observe over other competitive sites and programs I came to result ass these are most value to money courses.
                    </p>
                    <p>Workbank Professionals and Team.</p>

                    <p>-Akhil Pandey(Ex Workbank Intern)</p>
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3">
                    <span class="num">3.</span>
                    How can one get access to Workbank Courses?
                  </button>
                </h3>
                <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    When you scroll over our site's homepage, you can see our Courses Pricing Section from where you can access our courses according to your convinience.
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-4">
                    <span class="num">4.</span>
                    Is their courses refundable?
                  </button>
                </h3>
                <div id="faq-content-4" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    No the Courses offered by Workbank are not refundable, you must complete the course once purchased.
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-5">
                    <span class="num">5.</span>
                    How skilled and well trained are the faculties of Workbank?
                  </button>
                </h3>
                <div id="faq-content-5" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    <p>faculties here are well known to every point of their domains, and also they all are qualified and mastered in their respective domains.</p>

                    <p>
                      -Shree Darda(Ex Workbank Intern)
                    </p>
                  </div>
                </div>
              </div><!-- # Faq item-->

            </div>

          </div>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Recent Blog Posts Section ======= -->
    <section id="recent-posts" class="recent-posts sections-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Recent Blog Posts</h2>
          <p>Updates related to our site and firm are posted here daily, also various acheivements and milestones acheived by firm are showed here.</p>
        </div>

        <div class="row gy-4">

          <div class="col-xl-4 col-md-6">
            <article>

              <div class="post-img">
                <img src="{% static 'assets/img/blog/blog-1.jpg' %}" alt="" class="img-fluid">
              </div>

              <p class="post-category">Practice Sessions</p>

              <h2 class="title">
                <a href="{% url 'blogdetails' %}">Unpopular opinion but, attending Practice Sessions have lots of fun here!</a>
              </h2>

              <div class="d-flex align-items-center">
                <img src="{% static 'assets/img/blog/blog-author.jpg' %}" alt="" class="img-fluid post-author-img flex-shrink-0">
                <div class="post-meta">
                  <p class="post-author">Maria Doe</p>
                  <p class="post-date">
                    <time datetime="2022-01-01">Jan 1, 2022</time>
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->

          <div class="col-xl-4 col-md-6">
            <article>

              <div class="post-img">
                <img src="{% static 'assets/img/blog/blog-2.jpg' %}" alt="" class="img-fluid">
              </div>

              <p class="post-category">Doubt Clearing</p>

              <h2 class="title">
                <a href="{% url 'blogdetails' %}">Everyone attending the doubt clearing sessions are really thankfull to Workbank.</a>
              </h2>

              <div class="d-flex align-items-center">
                <img src="{% static 'assets/img/blog/blog-author-2.jpg' %}" alt="" class="img-fluid post-author-img flex-shrink-0">
                <div class="post-meta">
                  <p class="post-author">Allisa Mayer</p>
                  <p class="post-date">
                    <time datetime="2022-01-01">Jun 5, 2022</time>
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->

          <div class="col-xl-4 col-md-6">
            <article>

              <div class="post-img">
                <img src="{% static 'assets/img/blog/blog-3.jpg' %}" alt="" class="img-fluid">
              </div>

              <p class="post-category">Entertainment</p>

              <h2 class="title">
                <a href="{% url 'blogdetails' %}">Various Quizes and Competitions are held among the interns of Workbank.</a>
              </h2>

              <div class="d-flex align-items-center">
                <img src="{% static 'assets/img/blog/blog-author-3.jpg' %}" alt="" class="img-fluid post-author-img flex-shrink-0">
                <div class="post-meta">
                  <p class="post-author">Mark Dower</p>
                  <p class="post-date">
                    <time datetime="2022-01-01">Jun 22, 2023</time>
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->

        </div><!-- End recent posts list -->

      </div>
    </section><!-- End Recent Blog Posts Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Contact Us</h2>
          <p>You are free to contact us if you have queries related to our firm and our courses, also you can visit our workplace for more satisfied query clearing.</p>
        </div>

        <div class="row gx-lg-0 gy-4">

          <div class="col-lg-6">

            <div class="info-container d-flex flex-column align-items-center justify-content-center">
              <div class="info-item d-flex">
                <i class="bi bi-geo-alt flex-shrink-0"></i>
                <div>
                  <h4>Location:</h4>
                  <p>Emporial Bussiness Chambers, Chandni Street, Pune, 441044</p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex">
                <i class="bi bi-envelope flex-shrink-0"></i>
                <div>
                  <h4>Email:</h4>
                  <p>dhyaneshsupare@gmail.com</p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex">
                <i class="bi bi-phone flex-shrink-0"></i>
                <div>
                  <h4>Call:</h4>
                  <p>+91 9373612896</p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex">
                <i class="bi bi-clock flex-shrink-0"></i>
                <div>
                  <h4>Open Hours:</h4>
                  <p>Mon-Sat: 9AM - 7PM</p>
                </div>
              </div><!-- End Info Item -->
            </div>

          </div>

          <div class="col-md-6 d-flex align-items-stretch" style = "background-color: var(--color-primary); height: 100%; border-radius: 20px; padding: 20px; box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.1);">
            <div id="map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1435.7101254907527!2d78.84307555920506!3d20.55517503181664!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bd3654e79fc4a65%3A0x4754b006602fa7fe!2sShri%20Durga%20Mata%20Mandir!5e0!3m2!1sen!2sin!4v1717762539796!5m2!1sen!2sin" width="610" height="560" style="border-radius: 20px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="{% url 'home' %}" class="logo d-flex align-items-center">
            <span>Workbank for Students</span>
          </a>
          
          <div class="social-links d-flex mt-4">
            <a href="https://www.facebook.com/share/rfYRQDoJ8AB4bEQm/?mibextid=qi2Omg" target = "_blank" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/danny_sups?igsh=MXcyZzN3ZmZmYmoxZQ==" target = "_blank" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="https://www.linkedin.com/in/dhyanesh-supare-3b8a6428b?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target = "_blank" class="linkedin"><i class="bi bi-linkedin"></i></a>
            <a href="#" target = "_blank" class="twitter"><i class="bi bi-twitter"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="{% url 'home' %}#hero">Home</a></li>
            <li><a href="{% url 'blog' %}">Blog</a></li>
            <li><a href="{% url 'home' %}#services">Our Services</a></li>
            <li><a href="{% url 'home' %}#contact">Contact Us</a></li>
            <li><a href="{% url 'contact' %}">Form</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><a href="#">Web Design</a></li>
            <li><a href="#">Web Development</a></li>
            <li><a href="#">Web Hosting</a></li>
            <li><a href="#">Marketing</a></li>
            <li><a href="#">Consultancy</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>
          <p>
            Emporial Bussiness Chambers <br>
            Chandni Street<br>
            Pune 441044<br><br>
            <strong>Phone:</strong> +91 9373612896<br>
            <strong>Email:</strong> dhyaneshsupare@gmail.com<br>
          </p>

        </div>

      </div>
    </div>

    <div class="container mt-4">
      <div class="credits">
        Designed by <a href="#">Dhyanesh Supare</a>
      </div>
    </div>

  </footer><!-- End Footer -->
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>